*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button{
  padding: 0.5rem 1rem;
  background-color: #4181bf;
  color: white;
  border: none;
  border-radius: 0.3rem;
}
.link{
  text-decoration: none;
}